[binaries]
c = '/opt/bin/{{TARGET}}-cc'
cpp = '/opt/bin/{{TARGET}}-c++'
objc = '/opt/bin/{{TARGET}}-objc'
ar = '/opt/bin/{{TARGET}}-ar'
ld = '/opt/bin/{{TARGET}}-ld'
nm = '/opt/bin/{{TARGET}}-nm'
strip = '/opt/bin/{{TARGET}}-strip'
pkgconfig = '/usr/bin/pkg-config'

[properties]
c_args = []
cpp_args = []
c_link_args = [{{C_LINK_ARGS}}]
cpp_link_args = [{{CXX_LINK_ARGS}}]
needs_exe_wrapper = {{IS_FOREIGN}}

[build_machine]
system = 'linux'
cpu_family = 'x86_64'
cpu = 'x86_64'
endian = 'little'

[host_machine]
system = '{{OS}}'
cpu_family = '{{CPU_FAMILY}}'
cpu = '{{CPU}}'
endian = 'little'

[paths]
prefix = '/workspace/destdir'
