name: Update Manifest

on:
  workflow_dispatch:

# Do not use PkgServer to make sure we have the latest registry
env:
  JULIA_PKG_SERVER: ""

jobs:
  update_manifest:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: julia-actions/setup-julia@5c9647d97b78a5debe5164e9eec09d653d29bd71 # v2.6.1
        with:
          version: '1.12.4' # Use the version of Julia used on the build machine
          arch: x64
      - uses: julia-actions/cache@d10a6fd8f31b12404a54613ebad242900567f2b9 # v2.1.0
        with:
          cache-registries: "true"
          cache-compiled: "true"
      - name: Instantiate the manifest
        shell: julia --project=.ci --color=yes {0}
        run: |
          using Pkg
          Pkg.instantiate()
          Pkg.precompile()
      - name: Generate commit message
        run: julia --project=.ci --color=yes .ci/update_manifest.jl
        id: commit_message
      - name: Show git status
        run: git status
      - uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          delete-branch: true
          branch: 'gha/update-manifest'
          commit-message: ${{ env.commit_message }}
          title: ${{ env.commit_title }}
          body: ${{ env.commit_body }}
          labels: |
            meta :deciduous_tree:
