name: Update Manifest

on:
  workflow_dispatch:

# Do not use PkgServer to make sure we have the latest registry
env:
  JULIA_PKG_SERVER: ""

jobs:
  update_manifest:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
      - uses: julia-actions/setup-julia@b315a4d9881690c63d53fc0175b150a3776140bd # v1.9.0
        with:
          version: '1.7.3' # Use the version of Julia used on the build machine
          arch: x64
      - uses: julia-actions/cache@824243901fb567ccb490b0d0e2483ccecde46834 # v2.0.5
        with:
          cache-registries: "true"
          cache-compiled: "true"
      - name: Instantiate the manifest
        shell: julia --project=.ci --color=yes {0}
        run: |
          using Pkg
          Pkg.instantiate()
          Pkg.precompile()
      - name: Generate commit message
        run: julia --project=.ci --color=yes .ci/update_manifest.jl
        id: commit_message
      - name: Show git status
        run: git status
      - uses: peter-evans/create-pull-request@2b011faafdcbc9ceb11414d64d0573f37c774b04 # v4.2.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          delete-branch: true
          branch: 'gha/update-manifest'
          commit-message: ${{ env.commit_message }}
          title: ${{ env.commit_title }}
          body: ${{ env.commit_body }}
          labels: |
            meta :deciduous_tree:
